:root {
  --time-bar-container-width: 765px;
  --flight-list-left-column-width: 350px;
  --result-row-height: 80px;
  --border-radius: 1.2rem;
}
html {
  font-size: 16px;
}
body {
  background-color: white;
  font-size: 1em;
  font-family: "Arimo", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
#header {
  display: flex;
  flex-direction: column;
}
#header > h1,
#header > h2,
#header > h3 {
  margin: 0;
}

.sort-container {
  font-weight: 400;
  letter-spacing: -0.16px;
  font-size: 1.6rem;
  line-height: 2.2rem;
  position: relative;
}
.sort-container:before {
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: 22px;
  content: "Sort by:";
  position: absolute;
  padding: 0.85rem 1.6rem;
  z-index: -1;
}
.sort-container select {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 0.1rem #616161;
  padding-left: 8rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-size: 1.5rem;
  width: 250px;
  height: 50px;
}

ul {
  padding: 0; /* remove browser style */
  margin: 0; /* remove browser style */
  padding-top: 15px; /* to line up flight info with time bars which have a header */
  width: var(--flight-list-left-column-width);
  padding-right: 20px;
}
.flight-list-item {
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  align-items: center;
  width: calc(
    var(--time-bar-container-width) + var(--flight-list-left-column-width) + 1px
  );
  border-top: 2px solid #f0f4f6;
}
li.flight-list-item[data-selected="true"],
.flight-list-item:only-child {
  border: 1px solid #9e9e9e66 !important;
}
.flight-list-item:last-child {
  border-bottom: 1px solid #9e9e9e66;
}
li.flight-list-item:nth-child(odd) {
  background: rgb(253, 253, 253, 0.5);
}
li.flight-list-item:nth-child(even) {
  background: rgb(240, 248, 255, 0.5);
}
li.flight-list-item:last-child {
  border-bottom: 2px solid #f0f4f6;
}

.flight-list-item:hover,
.flight-list-item:focus {
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x;
}

.flight-list-item:hover .time-container,
.flight-list-item:focus .time-container,
.flight-list-item:hover .time-bar-segment,
.flight-list-item:focus .time-bar-segment {
  box-shadow: 3px 12px 6px 0px #ddd;
  background-color: #eee;
  opacity: 1;
}

.flight-list-item__left-column {
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  align-items: center;
  width: var(--flight-list-left-column-width);
  padding: 10px;
  height: inherit;
  background-color: #eee3;
  border: 1px solid #9e9e9e66;
  border-width: 1px 1px 0 1px;
}

.departure-time {
  position: absolute;
  left: -65px;
  text-align: right;
}
.arrival-time {
  position: absolute;
  right: -97px;
}
.time-container {
  opacity: 0;
  width: 96px;
  border-radius: 0;
  padding: 4px;
  font-size: 22px;
  letter-spacing: -0.75px;
  background-color: #eee;
  display: table;
  border-radius: 8px;
  border: 1px solid #9e9e9e66;
}

.times__minute {
  font-size: 10px;
}
.times__minute::before {
  content: ":";
}

.airlines {
  display: flex;
  flex-direction: column;
  width: 265px;
  padding-left: 10px;
  white-space: normal;
}
.primary-airline {
  font-size: 22px;
}
.secondary-airline {
  font-size: 8px;
  color: gray;
}
.cost-container {
  width: 140px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.fare {
  font-size: 22px;
}

.interval-time {
  position: absolute;
  margin-left: -17px;
  top: -1px;
  width: 48px;
  display: flex;
  flex-direction: column;
  margin-top: -23px;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  /* background-color: #eee3; */
}
.interval-time-text {
  letter-spacing: -1px;
}
.interval-line {
  z-index: -1;
  position: absolute;
  height: calc(100% - 16px);
  width: 1px;
  box-shadow: 1px 1px 1px 0px #9e9e9e66;
}
.interval-line.midnight {
  box-shadow: 1px 1px 1px 0px #9e9e9e;
}
.interval-time-text.midnight {
  font-weight: bold;
}

li,
.time-bar-row {
  height: var(--result-row-height);
}
.time-bar-row {
  width: var(--time-bar-container-width) !important;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}
/** Tooltip styles */
.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  position: absolute;
  z-index: 1;
  bottom: 85%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
/** The arrow/caret */
.tooltip-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip-text:before {
  content: "Click to select this flight";
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.time-bar-segment.layover {
  background: repeating-linear-gradient(
    45deg,
    rgba(125, 130, 162, 0.5),
    rgba(147, 153, 191, 0.5) 5px,
    rgba(122, 128, 165, 0.5) 5px,
    rgba(98, 105, 146, 0.5) 10px
  );
}
.time-bar-segment::after {
  content: attr(data-content);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: white;
}
.timezone__first,
.timezone__last {
  width: 20px;
  height: 30px;
  z-index: 1;
  position: absolute;
}
.timezone__first:hover,
.timezone__last:hover {
  border-color: tomato;
}
.timezone__first {
  border-left: 4px solid black;
}
.timezone__last {
  border-right: 4px solid black;
}
.departures-section {
  padding-bottom: 40px;
}
.departures-content,
.returns-content {
  display: flex;
  position: relative;
}
.departures-time-bar-container-header,
.returns-time-bar-container-header {
  position: absolute;
  height: 100%;
}
.section-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--time-bar-container-width);
  margin-left: var(--flight-list-left-column-width);
}
.time-bar-header__date-container {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  width: var(--time-bar-container-width);
  margin-left: var(--flight-list-left-column-width);
}
.time-bar-header__date:last-child:not(:first-child) {
  border-left-width: 0px;
}
.time-bar-header__airport-code-container {
  position: absolute;
  left: -110px;
  display: flex;
  flex-direction: column;
  margin-top: -22px;
  font-weight: bold;
}
.time-bar-header__airport-code-container span::before {
  content: "Time at ";
  font-weight: normal;
}
.time-bar-header__date {
  text-align: center;
  height: 39px;
  border-width: 1px;
  border-color: #9e9e9e66;
  border-style: solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 84px;
  background-color: #eee3;
}
.time-bar-container {
  position: relative;
  /* height: 100%; */
}
#loading {
  z-index: 2;
  font-size: 28px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(253, 253, 253, 0.8);
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
#loading > svg {
  width: 108px;
  height: 93px;
}
