:root {
  --time-bar-container-width: 765px;
  --flight-list-left-column-width: 350px;
}
body {
  background-color: white;
  font-size: 1em;
  font-family: "Arimo", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
ul {
  padding: 0; /* remove browser style */
  margin: 0; /* remove browser style */
  padding-top: 15px; /* to line up flight info with time bars which have a header */
  width: var(--flight-list-left-column-width);
  padding-right: 20px;
}
.flight-list-item {
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  align-items: center;
  width: calc(
    var(--time-bar-container-width) + var(--flight-list-left-column-width) + 1px
  );
}
.flight-list-item:hover,
.flight-list-item:focus {
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x;
}
.flight-list-item:hover .time-bar-segment::after,
.flight-list-item:focus .time-bar-segment::after {
  background: transparent;
}

.flight-list-item__text {
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  align-items: center;
  width: var(--flight-list-left-column-width);
  padding: 10px;
}

.times__hour {
  font-size: 22px;
}
.times__minute {
  font-size: 12px;
}
.times__time-of-day {
  font-size: 15px;
}
.day-time {
  /* background-image: url(http://clipart-library.com/images/Biarp47MT.png); */
}
.night-time {
  /* background-image: url(http://clipart-library.com/images_k/moon-transparent-png/moon-transparent-png-20.png); */
}
.departure-time {
  position: absolute;
  left: -65px;
  text-align: right;
}
.arrival-time {
  position: absolute;
  right: -97px;
}
.departure-time,
.arrival-time {
  width: 85px;
  border-radius: 0;
  padding: 4px;
  box-shadow: 3px 12px 6px 0px #eee;
  background-color: white;
}

.times__minute {
  font-size: 10px;
}
.times__minute::before {
  content: ":";
}

.airlines {
  display: flex;
  flex-direction: column;
  width: 265px;
  padding-left: 10px;
  white-space: normal;
}
.primary-airline {
  font-size: 19px;
}
.primary-airline__small-font-size {
  font-size: 15px;
}
.secondary-airline {
  font-size: 8px;
  color: gray;
}
.cost-container {
  width: 140px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.fare {
  font-size: 20px;
}

.interval-time {
  position: absolute;
  margin-left: -17px;
  width: 48px;
  display: flex;
  flex-direction: column;
  margin-top: -23px;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  background: white;
}
.interval-line {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 18px;
  box-shadow: 1px 1px 1px 0px #9e9e9e66;
}
.interval-line.midnight {
  box-shadow: 1px 1px 1px 0px #9e9e9e;
}

li,
.time-bar-row {
  margin-bottom: 10px;
  height: 67px;
}
.time-bar-row {
  width: var(--time-bar-container-width) !important;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.time-bar-segment.layover {
  background: repeating-linear-gradient(
    45deg,
    #7d82a2,
    #9399bf 5px,
    #7a80a5 5px,
    #626992 10px
  );
}
.time-bar-segment::after {
  content: attr(data-content);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: white;
}
.timezone__first,
.timezone__last {
  width: 20px;
  height: 30px;
  z-index: 1;
  position: absolute;
}
.timezone__first:hover,
.timezone__last:hover {
  border-color: tomato;
}
.timezone__first {
  border-left: 4px solid black;
}
.timezone__last {
  border-right: 4px solid black;
}

.departures-content,
.returns-content {
  display: flex;
}
.departures-time-bar-container-header,
.returns-time-bar-container-header {
  position: absolute;
  height: 100%;
}
.time-bar-header__date-container {
  display: flex;
  margin-top: -65px;
}
.time-bar-header__airport-code-container {
  position: absolute;
  left: -70px;
  display: flex;
  flex-direction: column;
  margin-top: -19px;
}
.time-bar-header__date {
  text-align: center;
  height: 47px;
  border-width: 0px 1px 0px 1px;
  border-color: #9e9e9e66;
  border-style: solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 84px;
}
.time-bar-container {
  position: relative;
  /* height: 100%; */
}
#loading {
  z-index: 2;
  font-size: 28px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(253, 253, 253, 0.8);
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
#loading > svg {
  width: 108px;
  height: 93px;
}
