fieldset {
  border: none;
  margin: 0;
  /* padding: 0; */
  box-shadow: none;
}
input {
  width: 155px;
  border: 1px solid #eee;
}
input,
button {
  font-family: "Helvetica Neue";
  font-size: 20px;
  color: #3c4257;
}
input[type="text"],
input[type="date"],
button {
  margin-bottom: 10px;
}
button {
  width: 161px;
  height: 43px;
  border: 1px solid rgb(166, 166, 166);
  margin: 0 auto;
}
button:hover {
  background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x;
}
input[type="date"] {
  color: #3c4257;
  width: 155px;
  font-size: 16px;
}
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input,
select {
  height: 28px;
}

input:hover {
  background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x;
}
label.inline {
  display: flex;
  align-items: center;
  height: 20px;
  width: 159px;
}
label.inline:hover {
  background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x;
}
.num-pax-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form#search {
  width: 180px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
select {
  font-family: "Helvetica Neue";
  font-size: 14px;
  width: 100%;
  color: #3c4257;
  border-color: #fff;
}
select:hover {
  border-color: rgb(166, 166, 166);
}

.validation-error {
  color: tomato;
}
body {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
  color: #3c4257;
}
#loading {
  display: none;
}
