:root {
  --search-button-color: #11ffcf;
}

form#search {
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  box-shadow: 1px 1px 9px 4px #ddd;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

fieldset {
  border: none;
  margin: 0;
  box-shadow: none;
}
form input[type="text"],
form input[type="date"],
form select {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 22px;
  display: block;
  width: calc(100% - 20px);
  height: 50px;
  background: transparent;
  font-family: "Nunito";
}

form button {
  border-radius: 8px;
  border: 1px solid #eee;
  width: 50%;
  margin: 0 auto;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  background-color: var(--search-button-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
form .button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 8px;
  background-color: var(--search-button-color);
  transition-property: transform, opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  cursor: wait;
}

button:not(:disabled) .button-container:hover {
  opacity: 1;
  transform: scale(1);
  color: #000;
}
button span {
  color: black;
}

input:hover,
select:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
  border-color: rgb(166, 166, 166) !important;
  /* background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x; */
}
form label {
  display: block;
  width: 50%;
  float: left;
}
fieldset legend {
  display: block;
  float: left;
}
fieldset#method *:nth-child(2) {
  margin: 0 10px 0 20px;
}
fieldset#method {
  margin: 0 auto;
}

.hide {
  display: none;
}
fieldset#method label {
  width: auto;
}
label span,
legend {
  font-size: 24px;
  font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(1.5);
  background: transparent;
}

.validation-error {
  color: tomato;
}

#ellipsis {
  display: none;
}

.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 1.3s infinite;
  animation-delay: 0s;
}

.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}

.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
